md-toolbar {
    height: 200px;
    background-size: cover;
    background-position-y: -30px;
}
.margin {
  margin-top: -84px;
}
.rounded {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 10px;
}